* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-group, .row {
    margin-bottom: 10px;
}
textarea, .form-control {
    resize: none;
}
textarea{
    height: 150px;
}
.anuncio-container {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}